<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knyazev Search System</title>
    <link rel="stylesheet" href="/static/css/input.css">
</head>
<body>
    <div class="center">
        <img src="/static/KSearch.png" alt="Paris" class="center-image">
        <form action="search" method="get" class="center-form">
            <p>
<!--                <label for="query">Request</label>-->
                <input type="search" name="query">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>

        <details class="center-details">
            <summary tabindex="1"><span>Стандартные запросы (факты из википедии)</span></summary>
            <form action="search" method="get">
                <input type="hidden" name="query"
                       value="Платоническая возлюбленная Огюста Конта вдохновила его на создание «религии человечества»">
                <input type="submit" value="1 запрос">
            </form>
            <form action="search" method="get">
                <input type="hidden" name="query"
                       value="Рыбак, ударивший веслом по голове короля Гавайев, не был наказан, поскольку всего лишь защищался">
                <input type="submit" value="2 запрос">
            </form>
            <form action="search" method="get">
                <input type="hidden" name="query"
                       value="Одна из мечетей в Крыму построена в честь неудачного покушения на императора">
                <input type="submit" value="3 запрос">
            </form>
        </details>
    </div>
</body>
</html>